#login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 88vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.671);
    
}

#login-div form {
    display: flex;
    flex-direction: column;
}
#login-div form input {
    margin-bottom: 1em;
}
.error {
    background-color: rgba(255, 0, 0, 0.397);
}
#loginHeader{
    width: 100%;
    display: inline;
}
#title{
    width: 30%;
    display:inline-block;
}
#loginHeader button {
    float: right;
}
